<header>
    <%= render "admin/shared/header" %>
</header>

<main>
  

  <div class="container">
    <div class="row">
      <span class="h4 bg-light">商品一覧</span>
      <span>
        <%= link_to new_admin_item_path do %>
        新規登録
        <% end %>
      </span>
      <table class="table table-borderless ">
        <thead>
          <tr class="table-secondary">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <ins>
                <%= link_to admin_item_path(item.id), class: "text-dark" do %>
                  <%= item.name %>
                <% end %>
              </ins>
            </td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.in_active? %>
                <p class="text-success"><strong>販売中</strong></p>
              <% else %>
                <p class="text-secondary"><strong>販売停止中</strong></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</main>