<header>
    <%= render "admin/shared/header" %>
</header>

  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center pt-3 pl-0">
        <p class="h4 bg-light">商品一覧</p>
      </div>
      <div class="col-md-2 offset-md-7 pt-3">
        <%= link_to new_admin_item_path, class: "text-dark" do %>
          <i class="fas fa-plus fa-2x"></i>
        <% end %>
      </div>
    </div>

      <table class="table table-borderless border-bottom">
        <thead>
          <tr class="table-secondary">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <ins>
                <%= link_to admin_item_path(item.id), class: "text-dark" do %>
                  <%= item.name %>
                <% end %>
              </ins>
            </td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.in_active? %>
                <p class="text-success"><strong>販売中</strong></p>
              <% else %>
                <p class="text-secondary"><strong>販売停止中</strong></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
      
  </div>