<%= render "admin/shared/header" %>



<body>
  <div class="container-fluid" style="height: 650px">
    <div class="row">
      <div class="col-3 offset-1 text-center pt-3">
        <p class="h4 bg-light">商品詳細</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-3 offset-1">
        <%= image_tag @item.get_image(200,300) %>
      </div>

      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td  style="width: 35%">商品名</td>
              <td class="h5"><%= @item.name %></td>
            </tr>
            <tr>
              <td style="width: 35%">商品説明</td>
              <td class="h5"><%= @item.introduction %></td>
            </tr>
            <tr>
              <td style="width: 35%">ジャンル</td>
              <td class="h5"><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td style="width: 35%">税込価格</br>(税抜価格)</td>
              <td class="h5"><%= (@item.price*1.1).round.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>)円</td>
            </tr>
            <tr>
              <td style="width: 35%">販売ステータス</td>
              <td class="h5">
                <% if @item.in_active? %>
                  <p class="text-success"><strong>販売中</strong></p>
                <% else %>
                  <p class="text-secondary"><strong>販売停止中</strong></p>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row justify-content-center">
      <%= link_to "　編集する　", edit_admin_item_path(@item.id), class: "col-2 btn btn-success btn-lg" %>
    </div>

  </div>
</body>

<footer class="border"></footer>